---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} — All blogs`}
      description={SITE_DESCRIPTION}
    />
    <style>
      main {
        width: 980px;
      }

      .latest-link {
        display: block;
        text-decoration: none;
        margin-bottom: 1.5rem;
      }

      .latest-card {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        min-height: 10rem;
        box-shadow: 7px 7px 0px 0px var(--card-box-shadow);
        background-color: var(--card-bg);
      }

      .latest-img {
        width: 45%;
      }

      .latest-img img {
        width: 100%;
        height: auto;
        display: block;
      }

      .latest-content {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 0;
      }

      .title {
        margin: 0;
        color: var(--card-text-color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }

      .description {
        color: var(--card-text-color);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .date {
        margin: 0;
        color: var(--card-text-color);
      }

      .posts-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: 1.5rem;
      }

      @media (max-width: 980px) {
        .latest-card {
          flex-direction: column;
        }

        .latest-img,
        .latest-content {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <section>
        <h2>All blog posts</h2>
        <ul class="posts-list">
          {
            posts.map((post) => (
              <li>
                <a class="latest-link" href={`/${post.id}/`}>
                  <div class="latest-card">
                    <div class="latest-img">
                      {post.data.heroImage && (
                        <Image
                          width={720}
                          height={360}
                          src={post.data.heroImage}
                          alt=""
                        />
                      )}
                    </div>
                    <div class="latest-content">
                      <h4 class="title">{post.data.title}</h4>
                      <p class="description">{post.data.description}</p>
                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
